.btn {
  color: #000;
  margin: 1rem;
  background: none;
  display: inline-block;
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.btn:hover:enabled {
  background-color: var(--green);
}
.disable {
  cursor: not-allowed;
}
